@font-face {
  font-family: "Belanosima";
  src: url('../fonts/Belanosima-Regular.ttf');
  font-weight: 600;
}

.belanosima {
  font-family: "Belanosima", sans-serif;
}

@font-face {
  font-family: "Momo Trust Display";
  src: url('../fonts/MomoTrustDisplay-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
}