
@font-face {
  font-family: "Quicksand";
  src: url('../fonts/Quicksand-VariableFont_wght.ttf');
  font-weight: 100;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

@font-face {
  font-family: "Momo Trust Display";
  src: url('../fonts/MomoTrustDisplay-Regular.ttf');
  font-weight: 100;
  font-style: normal;
}

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
}